[project]
	description = PHP Debugger
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Bijay Rungta (bijayrungta)
[access "refs/for/refs/*"]
	read = group user/Bijay Rungta (bijayrungta)
	push = group user/Bijay Rungta (bijayrungta)
	label-Code-Review = -2..+2 group user/Bijay Rungta (bijayrungta)
	label-Verified = -1..+1 group user/Bijay Rungta (bijayrungta)
	rebase = group user/Bijay Rungta (bijayrungta)
	removeReviewer = group user/Bijay Rungta (bijayrungta)
	submit = group user/Bijay Rungta (bijayrungta)
[access "refs/heads/*"]
	read = group user/Bijay Rungta (bijayrungta)
	create = group user/Bijay Rungta (bijayrungta)
	push = +force group user/Bijay Rungta (bijayrungta)
	pushMerge = group user/Bijay Rungta (bijayrungta)
[access "refs/tags/*"]
	push = +force group user/Bijay Rungta (bijayrungta)
	pushTag = group user/Bijay Rungta (bijayrungta)
	pushSignedTag = group user/Bijay Rungta (bijayrungta)
